@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    @if (Login.LoggedIn == false)
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Bestellen-tab" data-bs-toggle="tab" data-bs-target="#Bestellen" type="button" role="tab" aria-controls="Bestellen" aria-selected="true">Bestellen</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Overzicht-tab" data-bs-toggle="tab" data-bs-target="#Overzicht" type="button" role="tab" aria-controls="Overzicht" aria-selected="false">Overzicht</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="AllesBetalen-tab" data-bs-toggle="tab" data-bs-target="#AllesBetalen" type="button" role="tab" aria-controls="AllesBetalen" aria-selected="false">Alles betalen</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="PerPersoonBetalen-tab" data-bs-toggle="tab" data-bs-target="#PerPersoonBetalen" type="button" role="tab" aria-controls="PerPersoonBetalen" aria-selected="false">Per persoon betalen</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Bestellen" role="tabpanel" aria-labelledby="Bestellen-tab">
                <h2 style="text-align: start">Bestellen</h2>
                <div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @Model.Filler
                      </button>
                        <ul class="dropdown-menu">
                            @{
                                foreach (var table in Model.TafelLijst)
                                {
                                    <form method="post">
                                        <li>
                                            <input type="hidden" value="@table.TafelNummer" asp-for="TafelSelect"/>
                                            <button class="dropdown-item" asp-page-handler="Table">@table.TafelNummer</button>
                                        </li>
                                    </form>
                                }
                            }
                            <li><button class="dropdown-item">test</button></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-Frisdrank-list" data-bs-toggle="list" href="#list-Frisdrank" role="tab" aria-controls="list-Frisdrank" style="text-align: start">Frisdrank</a>
                            <a class="list-group-item list-group-item-action" id="list-WarmeDranken-list" data-bs-toggle="list" href="#list-WarmeDranken" role="tab" aria-controls="list-WarmeDranken" style="text-align: start">Warme Dranken</a>
                            <a class="list-group-item list-group-item-action" id="list-Wijnen-list" data-bs-toggle="list" href="#list-Wijnen" role="tab" aria-controls="list-Wijnen" style="text-align: start">Wijnen</a>
                            <a class="list-group-item list-group-item-action" id="list-Bier-list" data-bs-toggle="list" href="#list-Bier" role="tab" aria-controls="list-Bier" style="text-align: start">Bier</a>
                            <a class="list-group-item list-group-item-action" id="list-SpeciaalBier-list" data-bs-toggle="list" href="#list-SpeciaalBier" role="tab" aria-controls="list-SpeciaalBier" style="text-align: start">Speciaal Bier</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-Frisdrank" role="tabpanel" aria-labelledby="list-Frisdrank-list">
                                <ul class="list-group">
                                    @{
                                        foreach (var drankje in Model.Frisdranken)
                                        {
                                            <form method="post">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @drankje.Name
                                                    <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                    <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                </li>
                                            </form>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-WarmeDranken" role="tabpanel" aria-labelledby="list-WarmeDranken-list">
                                <ul class="list-group">
                                    @{
                                        foreach (var drankje in Model.WarmeDranken)
                                        {
                                            <form method="post">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @drankje.Name
                                                    <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                    <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                </li>
                                            </form>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-Wijnen" role="tabpanel" aria-labelledby="list-Wijnen-list">
                                <ul class="list-group">
                                    @{
                                        foreach (var drankje in Model.Wijnen)
                                        {
                                            <form method="post">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @drankje.Name
                                                    <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                    <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                </li>
                                            </form>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-Bier" role="tabpanel" aria-labelledby="list-Bier-list">
                                <ul class="list-group">
                                    @{
                                        foreach (var drankje in Model.Bieren)
                                        {
                                            <form method="post">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @drankje.Name
                                                    <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                    <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                </li>
                                            </form>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="list-SpeciaalBier" role="tabpanel" aria-labelledby="list-SpeciaalBier-list">
                                <ul class="list-group">
                                    @{
                                        foreach (var drankje in Model.SpeciaalBieren)
                                        {
                                            <form method="post">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @drankje.Name
                                                    <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                    <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                </li>
                                            </form>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item" style="text-align: left; display: flex; justify-content: space-between"><a>Product</a><a>Amount</a></li>
                            <li class="list-group-item list-group-item-dark"><button class="badge bg-primary rounded-pill">-</button><button class="badge bg-primary rounded-pill">+</button></li>
                            @{
                                if (Model.besteldeItems != null)
                                {
                                    foreach (var order in Model.besteldeItems)
                                    {
                                        <li class="list-group-item list-group-item-dark">@order.Name</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="Overzicht" role="tabpanel" aria-labelledby="Overzicht-tab">
                <h2 style="text-align: start">Overzicht</h2>
            </div>


            <div class="tab-pane fade" id="AllesBetalen" role="tabpanel" aria-labelledby="AllesBetalen-tab">
                <h2 style="text-align: start">Rekening</h2>

            </div>


            <div class="tab-pane fade" id="PerPersoonBetalen" role="tabpanel" aria-labelledby="PerPersoonBetalen-tab">
                <h2 style="text-align: start">Per persoon betalen</h2>

            </div>
        </div>


    }
    else
    {
        <h1 class="display-4">Welkom</h1><br/>
        <h2>Jo binne nog net ynlogt!</h2>


    }
    
</div>


@*<ul class="list-group">
     <li class="list-group-item d-flex justify-content-between align-items-center">
         Normal
         <span class="badge bg-primary rounded-pill">+</span>
     </li>
     <li class="list-group-item d-flex justify-content-between align-items-center">
         Cappuccino
         <span class="badge bg-primary rounded-pill">+</span>
     </li>
     <li class="list-group-item d-flex justify-content-between align-items-center">
         Latte
         <span class="badge bg-primary rounded-pill">+</span>
     </li>
</ul>*@

