@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">

<style>
        .badge {
          width: 30px;
          height: 30px;
          padding: 0px 0px;
          border-radius: 15px;
          text-align: center;
          font-size: 12px;
        }
    </style>

    @if (Login.LoggedIn == false)
    {
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="Index">Bestellen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Overzicht">Overzicht</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AllesBetalen">Alles betalen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="PPBetalen">Per persoon betalen</a>
            </li>
        </ul>
        
        <h2 style="text-align: start">Bestellen</h2>
         <div style="text-align: left">
             <div class="btn-group">
                 <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     @IndexModel.TafelString
                 </button>
                 <ul class="dropdown-menu">
                     @{
                         foreach (var table in Model.TafelLijst)
                         {
                             <form method="post">
                                 <li>
                                     <input type="hidden" value="@table.TafelNummer" asp-for="TafelSelect"/>
                                     <button class="dropdown-item" asp-page-handler="Table">@table.TafelNummer</button>
                                 </li>
                             </form>
                         }
                     }
                 </ul>
             </div>
                </div>
                <br/>
                @if (@IndexModel.TafelString == "Selecteer Tafel")
                {
                    <h2>Selecteer een Tafel!</h2>
                }
                else{
                
                    <div class="row">
                        <div class="col-2">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-Frisdrank-list" data-bs-toggle="list" href="#list-Frisdrank" role="tab" aria-controls="list-Frisdrank" style="text-align: start">Frisdrank</a>
                                <a class="list-group-item list-group-item-action" id="list-WarmeDranken-list" data-bs-toggle="list" href="#list-WarmeDranken" role="tab" aria-controls="list-WarmeDranken" style="text-align: start">Warme Dranken</a>
                                <a class="list-group-item list-group-item-action" id="list-Wijnen-list" data-bs-toggle="list" href="#list-Wijnen" role="tab" aria-controls="list-Wijnen" style="text-align: start">Wijnen</a>
                                <a class="list-group-item list-group-item-action" id="list-Bier-list" data-bs-toggle="list" href="#list-Bier" role="tab" aria-controls="list-Bier" style="text-align: start">Bier</a>
                                <a class="list-group-item list-group-item-action" id="list-SpeciaalBier-list" data-bs-toggle="list" href="#list-SpeciaalBier" role="tab" aria-controls="list-SpeciaalBier" style="text-align: start">Speciaal Bier</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-Frisdrank" role="tabpanel" aria-labelledby="list-Frisdrank-list">
                                    <ul class="list-group">
                                        @{
                                            foreach (var drankje in Model.Frisdranken)
                                            {
                                                <form method="post">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        @drankje.Name
                                                        <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                        <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                    </li>
                                                </form>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="list-WarmeDranken" role="tabpanel" aria-labelledby="list-WarmeDranken-list">
                                    <ul class="list-group">
                                        @{
                                            foreach (var drankje in Model.WarmeDranken)
                                            {
                                                <form method="post">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        @drankje.Name
                                                        <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                        <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                    </li>
                                                </form>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="list-Wijnen" role="tabpanel" aria-labelledby="list-Wijnen-list">
                                    <ul class="list-group">
                                        @{
                                            foreach (var drankje in Model.Wijnen)
                                            {
                                                <form method="post">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        @drankje.Name
                                                        <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                        <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                    </li>
                                                </form>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="list-Bier" role="tabpanel" aria-labelledby="list-Bier-list">
                                    <ul class="list-group">
                                        @{
                                            foreach (var drankje in Model.Bieren)
                                            {
                                                <form method="post">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        @drankje.Name
                                                        <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                        <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                    </li>
                                                </form>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="list-SpeciaalBier" role="tabpanel" aria-labelledby="list-SpeciaalBier-list">
                                    <ul class="list-group">
                                        @{
                                            foreach (var drankje in Model.SpeciaalBieren)
                                            {
                                                <form method="post">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        @drankje.Name
                                                        <input type="hidden" value="@drankje.ProductId" asp-for="ProductID"/>
                                                        <button class="badge bg-primary rounded-pill" type="submit" asp-page-handler="Order">+</button>
                                                    </li>
                                                </form>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item" style="text-align: left; display: flex; justify-content: space-between"><a><strong>Product</strong></a><a><strong>Amount</strong></a></li>
                                @{
                                    if (Model.besteldeItems != null)
                                    {
                                        foreach (var order in Model.besteldeItems)
                                        {
                                            <form method="post">
                                                <input type="hidden" value="@order.ProductId" asp-for="ProductID"/>
                                                <li class="list-group-item list-group-item-dark" style="text-align: left; display: flex; justify-content: space-between">
                                                    @order.Name
                                                    <div><button class="badge bg-dark rounded-pill" type="submit" asp-page-handler="MinusOne">-</button>@order.hoeveelheid<button class="badge bg-dark rounded-pill" type="submit" asp-page-handler="PlusOne">+</button></div>
                                                </li>
                                            </form>
                                        }
                                    }
                                }
                            </ul>
                            <div style="text-align: right">
                                <a type="button" class="btn btn-primary" href="Overzicht">Bestel</a>
                            </div>
                        </div>
                    </div>
                }
        
    }
    else
    {
        <h1 class="display-4">Welkom</h1><br/>
        <h2>Jo binne nog net ynlogt!</h2>
    }
    
</div>



