@page
@model NHLCafe.Pages.PPBetalen

@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
@if (Login.LoggedIn == true)
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
               <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="options">
                    <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="Index">Bestellen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Overzicht">Overzicht</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="AllesBetalen">Alles betalen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="PPBetalen">Per persoon betalen</a>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>

    <h2 style="text-align: start">Per persoon betalen</h2>
    <div style="text-align: left">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @IndexModel.TafelString
            </button>
            <ul class="dropdown-menu">
                @{
                    foreach (var table in Model.TafelLijst)
                    {
                        <form method="post">
                            <li>
                                <input type="hidden" value="@table.TafelNummer" asp-for="TafelSelect"/>
                                <button class="dropdown-item" asp-page-handler="Table">@table.TafelNummer</button>
                            </li>
                        </form>
                    }
                }
            </ul>
        </div>
    </div>
    <br/>
    @if (@IndexModel.TafelString == "Selecteer Tafel")
    {
        <h2>Selecteer een Tafel!</h2>
    }
    else
    {
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" style="text-align: left; display: flex;">
                    <div class="col-5"><strong>Product</strong></div>
                    <div class="col-3"><strong>Aantal</strong></div>
                    <div class="col-2"><strong>Prijs</strong></div>
                    <div class="col-2"><strong>Totaal</strong></div>
                </li>
                @{
                    if (Model.besteldeItems != null)
                    {
                        foreach (var order in Model.besteldeItems)
                        {
                            decimal Total = 0;
                            Model.AllesTotaal += order.Price * (order.hoeveelheid - order.alBetaald);
                            <form method="post">
                                <input type="hidden" value="@order.ProductId" asp-for="ProductID"/>
                                <li class="list-group-item list-group-item-dark" style="text-align: left; display: flex;">
                                    <div class="col-5">@order.Name</div>
                                    <div class="col-3">
                                        @if (order.aantalBetalen == 0)
                                        {
                                            <a style="color: green">
                                                <button class="badge bg-dark rounded-pill" disabled type="submit" asp-page-handler="MinPP">-</button>
                                                @order.aantalBetalen
                                                @if (order.aantalBetalen == (order.hoeveelheid - order.alBetaald))
                                                {
                                                    <button class="badge bg-dark rounded-pill" disabled type="submit" asp-page-handler="PlusPP">+</button>  
                                                }
                                                else
                                                {
                                                    <button class="badge bg-dark rounded-pill" type="submit" asp-page-handler="PlusPP">+</button>
                                                }
                                                van @order.hoeveelheid
                                            </a>
                                        }
                                        else if (order.aantalBetalen == order.hoeveelheid || order.aantalBetalen == (order.hoeveelheid - order.alBetaald))
                                        {
                                            <a style="color: green">
                                                <button class="badge bg-dark rounded-pill" type="submit" asp-page-handler="MinPP">-</button>
                                                @order.aantalBetalen
                                                <button class="badge bg-dark rounded-pill" disabled type="submit" asp-page-handler="PlusPP">+</button>
                                                van @order.hoeveelheid
                                            </a>
                                        }
                                        else
                                        {
                                            <a style="color: green">
                                                <button class="badge bg-dark rounded-pill" type="submit" asp-page-handler="MinPP">-</button>
                                                @order.aantalBetalen
                                                <button class="badge bg-dark rounded-pill" type="submit" asp-page-handler="PlusPP">+</button>
                                                van @order.hoeveelheid
                                            </a> 
                                        }
                                    </div>
                                    <div class="col-2">€@order.Price</div>
                                    <div class="col-2">
                                        @if (order.aantalBetalen > 0)
                                        {
                                            Total = order.aantalBetalen * order.Price;
                                            Model.PPTotaal += Total;
                                        }
                                        €@Total
                                    </div>
                                </li>
                            </form>
                        }
                    }
                }
            </ul>
        </div>
        <ul class="list-group">
            <li class="list-group-item" style="display: flex; text-align: left">
                <div class="col-10"><strong>Te Betalen:</strong></div>
                <div class="col"><strong>€@Model.PPTotaal</strong></div>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item" style="display: flex; text-align: left">
                <div class="col-10"><strong>In totaal nog te betalen:</strong></div>
                <div class="col"><strong>€@Model.AllesTotaal</strong></div>
            </li>
        </ul>
        <br/>
        if (@PPBetalen.BetalingSucces == false)
        {
            <form method="post">
                <div style="text-align: right">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Betalen">Betalen</button>
                </div> 
            </form>
        }
        else
        {
            if (Model.AllesTotaal == 0)
            {
                <div style="text-align: right">
                    <a style="color: green"> Betaling Geslaagd :) </a>
                    <form method="post">
                        <button type="submit" class="btn btn-primary" asp-page-handler="Bestellen">Terug naar bestellen</button>
                    </form>
                </div>
            }
            else
            {
                <div style="text-align: right">
                    <a style="color: green"> Betaling Geslaagd :) </a> <br/>
                    <a class="btn btn-primary" href="AllesBetalen">Naar alles Betalen</a> <br/><br/>
                    <form method="post">
                       <button type="submit" class="btn btn-primary" asp-page-handler="Betalen">Nogmaals Betalen</button>
                    </form>
                </div>
            }
            
        }
    }
}
else
{
    <h1 class="display-4">Welkom</h1><br/>
    <h2>Jo binne nog net ynlogt!</h2>
}
</div>